body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(65, 54, 201), rgb(89, 182, 73));
}
@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}